.side-panel {
  width: 150px;
  background-color:#6f6f6f;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 70px; /* Adjust if needed */
  left: 100px; /* Position it to the left edge of the viewport */
  height: calc(100vh - 60px); /* Adjust height to fill the remaining viewport */
  overflow-y: auto; /* Add scroll if needed */
}

.side-panel ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-panel ul li {
  margin: 15px 0;
}

.side-panel ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.side-panel ul li a.active {
  background-color: #0d2a47; /* Highlight color for active link */
  color: #ffffff; /* Ensure text color is readable */
}

.side-panel ul li a:hover {
  background-color:#0d2a47; /* Light gray for hover effect */
}
