/* src/Login.css */

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
  }
  
  .login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-container input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
 /* Common button styles */
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    color: rgb(3, 6, 36); /* White text */
    font-size: 16px;
    
    cursor: pointer;
  }
  
  /* Login button styles */
  
  /* Sign Up button styles */
  .signup-button {
    background-color: #4CAF50; /* Green background */
  }
  
  